calculatorclientweb/src/wsdl/lt9c1dyr2_7001/App/CalculatorWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://calculator.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://calculator.me.org/"><xsd:complexType name="add"><xsd:sequence><xsd:element name="i" type="xsd:int"/><xsd:element name="j" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="addResponse"><xsd:sequence><xsd:element name="return" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:element name="add" type="ns0:add"/><xsd:element name="addResponse" type="ns0:addResponse"/></xsd:schema>